*


{
    padding: 0;
    margin: 0;

}
body
{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    
    

   
}

section{
    margin: 2em ;
    overflow-x: hidden;
    
    
}
.navbar
{
    height: 10vh;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);

    
}
.navbar li a
{
 color: black;
 
 font-size: 2vh;
 
}
.navbar ul  {
    /* background-color: #4a4a4c61; */
   text-transform: uppercase;
  
}

a.navbar-brand img{
    width: 75%;
}

.navbar .nav-item {
    margin: 1% 1.5em 1% 1.5em;
}
.navbar-collapse{
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.btn
{
    font-size: 2vh;
   /* margin-left: 2vh;  */
    border-radius: 5vh;
}
.btn-danger{
    margin: 2%;
    width: 100%;
    background-color: black;
    border: solid black;

}

.btn-danger:hover {
    color: #fff;
    background-color: #285f38;
    border-color: #285f38;
}
.banner
{
    padding: 4%;
}

/* .banner h1{
font-size: 80px;
}

.banner h5{
font-size: 20px;
} */



.col-03
{   
    max-width: 100%;
    max-height: fit-content;
    background: #285f38;
    margin-top: 5vh;
    margin: 5vh .2em 0 0;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}

.col-04{
    width: 70%;
    max-height: fit-content;
    background: #285f38;
    margin: 1em 0 2em;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
.row{
    margin-left: 0;
    margin-right: 0;
}

/* .col-sm-6 {
    padding-left: 5%;
    padding-right: 0;
} */

div.col-white{
    background-color: white;
    padding: 0;
    margin: 0 2% 0;
    height: fit-content;
}

div.col-white img{
    padding: 30% 30% 30% 12%;
}
.col-05
{   width: 66.3%;
    max-width: 100%;
    max-height: fit-content;
    background: #285f38;
    margin-top: 5vh;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
.col-content
{
    color: white;
    padding: 2% 2% 1% 4.5%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.col-content-int
{
    color: white;
    padding: 1.5%  3.5% 3.5% ;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.blur:hover {
    --webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    border: 2px solid rgb(16, 18, 17) ;
 }
 

.col-content .col-sm-6{
    padding: 2% 4% 2% 0;
}


.col-content-text
{
    color: white;
    padding: 2.5% 4% 0%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.col-content-text2
{
    color: white;
    padding: 0% 4% 2%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}
.col-content2
{   
    color: black;
    
    margin: 1em  0em 25em 0em ;
    
    justify-content: space-between;
}

.col-content-text h2{
    font-weight: 600;
    font-size: 3vw;
    text-align: left;
}
.col-content-text div h3{
    font-size: 2.5vw;
    font-weight: 600;
    text-align: right;
}
.col-content-text div h5
{
font-weight: 600;  
font-size: 1.5vw;
text-align: right;
}
.col-content-text2 p
{
    margin: 0.5%;
    padding: .5em;
    font-weight: 400;
    font-size: x-large;

text-align: left;
float: left;
}
.booking-btn

{   
   float: right; 
   padding: 0 1% 4%;
}

.booking-btn button{  
    /* height: 30px;
    width: 60px;
    font-size: 5px; */
    margin: 6% 0 3%;
    color: #285f38;
    font-weight: 600;

}
.col-06
{   
    /* position: relative; */
    font-weight: 700;
    font-size: large;
    margin: 0 .5em 0;
    max-width: 100%;
    width:25%;
    height: fit-content;
    justify-content: space-between;
    justify-items: center;
    background-color: #e6f1e9;
    margin: 1%;
    
text-align: center;
padding: 2%  ;
color: rgb(11, 126, 1);
box-shadow: 7px  7px 7px 0 rgba(101, 104, 108, 0.2);
border: 1px solid rgba(192, 192, 192, 0.595);
}
.col-07
{
    
   
    background: #0a3112;
    margin-top: 5vh;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}

.col-08
{    
    margin-bottom: 30vh;
    /* background: #0a3112; */
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
    

}
.form-control2{
    
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.phone input{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    /* font-size: 20px; */

}

.searchrow .form-control2{
   
    border: 1px #ced4da solid;

}

select.form{
    border: 1px #ced4da solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: #6c757d ;
    
    font-size: 1rem;
}

select.form {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

.btn-form{
    background-color: #285f38;
    border: black;
    color: white;
}

.btn-form:hover{
    background-color: rgb(10, 10, 10);
    border: wheat;
    color: white;
}

.boxes:hover {
    transform:scale(1.1) ;
    transition: all 0.3s ease-out;
    opacity: 0.9;
    /* border: 2px solid rgb(7, 7, 7) ; */
   

    /* background-color: green; */

}

.newsletter{
    margin-top: 5vh;
    background-color: #285f38;
    color: white;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
    
}
.newsletterform{
    align-self: center;
}
.newsletterform input{

        width: 100%;
        border-radius: 40px;
        height: 60px;
    
}
.newsletterform h3{
   font-size: 45px;
   padding-bottom: 3vh;
}

.icon-box{
    right: 30%;
    padding: 40px 50px;
    /* position: relative; */
    overflow: hidden;
    background: rgb(226, 218, 218);
    
    box-shadow: 5px 20px 29px 0 rgba(30, 30, 30, 0.2);
    transition: all 0.3s ease-in-out;
    /* border-radius: 10px; */
}
.absolute {
    position: absolute;
    /* bottom: -501%; */
    top: 541%;
    left: 15%;
    right: 15%;
    margin: 0 0vh 0;
}

.p-5{
    background-color: #262626;
}

.footer{
    color: #a5a5a5;
    background-color: #1b1b25;
}

.footer p{
    color: #4a4a4c;
    
}

.btn-success{
    background-color: #285f38;
    /* animation:up-down 2s ease-in-out infinite normal both; */
}

.btn-success:hover{
    
   
}

.foot-title{
    color: #db7a35;
}

.carousel{
    margin: 1em 3em 10em;
}

.customised{
    margin-right: 10vh;

}

.img-fluid{
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}

.banner-text{
    padding: 2%;
}
.banner-text h1{
    font-size: 70px;
    font-weight: 700;
    /* animation: alternate-reverse; */
}
.banner-text h5{
    font-size: 35px;
    font-weight: 400;
    color: #a5a5a5;
}

/* animation: up 2s ease-in-out; */

.img-up {
    top: -10%;
    bottom: 47%;
    left: 14%;
    position: absolute;
    padding: 0;
}


.img-down {
    /* top: ; */
    left: 38%;
    right: 0px;
    bottom: 5%;
    position: absolute;
    padding: 0;
}


.img-down2{ 
    top: 6%;
    left: 65%;
    position: absolute;
    padding: 0;
 }
 .hover-up:hover{
    position: relative;
    animation: myfirst 1s ease-in-out alternate;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
 }
    @keyframes myfirst {
       0% {left: 0px; bottom: 0px;}
        100%  {left: 0px; bottom: 50px;}
        
      }
    /* animation:up-down 2s ease-in-out infinite normal both; */




 .col-content .col:hover img{
    transform:scale(1.05) ;
    transition: all 1s ease-out;
    opacity: 0.24;
    border: 2px solid rgb(213, 235, 218)
     ;
   
 }

 .col-text{
    position: absolute;
    left: 25vh;
    bottom: 30vh;
    text-align: center;
    opacity: 0;
 }

 .col-text2{
    position: absolute;
    left: 25vh;
    bottom: 18vh;
    text-align: center;
    opacity: 0;
 }
 .col:hover .col-text{

    opacity: 1;
 }
 .col:hover .col-text2{

    opacity: 1;
 }


 

 .blur:hover img{
    --webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    border: 2px solid rgb(16, 18, 17) ;
 }
 
 .nowrap{
    display: flex;
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
 }

 

/* 
 mobile css ##################################*/

 @media only screen and (max-width: 960px) {
    .col-04{
        width: 100%;
    }
    .col-06{
        width: 100%;
    }
    .img-up {
        top: 10%;
        /* bottom: 47%; */
        left: 0%;
        position: absolute;
        padding: 0;
    }
    
    
    .img-down {
        top: 0 ;
        left: 0%;
        right: 0px;
        /* bottom: 5%; */
        position: absolute;
        padding: 0;
    }
    
    
    .img-down2{ 
        top: 10%;
        left: 0%;
        position: absolute;
        padding: 0;
     }
 }


 @media only screen and (max-width: 360px) {

    /* body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    } */
    section{

        margin: 4%;
        padding: 4%;
    }
    .newsletterform h3 {
        font-size: 25px;
        padding-bottom: 3vh;
    }
    .col-content{
        
        margin: 1%;
        padding: 6%;
        width: auto;
    }
    .col-content2 h2,h6{
        font-size: 10px;

    }
    .col-content h2, h5{
        font-size: 20px;
        text-align: center;

    }
    .col-04{
        margin: 0;
        padding: 4%;
    }
    .col-06{
        margin: 0;
        padding: 6%;
        width: 100%;
        
    }
    /* .banner{
        padding: 2%;
    }
    .col{
        padding: 10%;
    }
    .carousel{
        margin: 6%;
    } */
.banner-img {
    margin-bottom : 100%;
}
    
.banner-text h1{
    font-size: 30px;
}
.banner-text h5{
    font-size: 18px;
}

.img-up {
    top: 10%;
    /* bottom: 47%; */
    left: 0%;
    position: absolute;
    padding: 0;
}


.img-down {
    top: 0 ;
    left: 0%;
    right: 0px;
    /* bottom: 5%; */
    position: absolute;
    padding: 0;
}


.img-down2{ 
    top: 10%;
    left: 0%;
    position: absolute;
    padding: 0;
 }

 }
