*


{
    padding: 0;
    margin: 0;

}

body
{ 
      padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
    
    

   
}

section{
    margin: 2rem 5rem;
    /* overflow-x: hidden; */
    
    
}
.navbar
{
    /* height: 10vh; */
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    padding: 1% 4.0% 1% 4%;
  
   
    
}
.navbar li a
{
 color: black;
 
 font-size: 2vh;
 
}
.navbar ul  {
    /* background-color: #4a4a4c61; */
   text-transform: uppercase;
   /* align-items: center; */
  
}

.navbar-brand {
    padding-left: 0.3em;
    padding-bottom: 0.1em;
}

.navbar-brand img{
    width: 60%;
    
}



.navbar .nav-item {
    margin: 1% 1.5em 1% 1.5em;
}
.navbar-collapse{
    /* z-index: 999; */
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.btn
{
    font-size: 1.5vh;
   /* margin-left: 2vh;  */
    border-radius: 5vh;
}
.btn-nav{
    /* margin: 2%; */
    width: 100%;
    background-color: black;
    border: solid #000000;
    color: #fff;
    font-weight: 600;
}

.btn-nav:hover {
    color: #fff;
    background-color: #285f38;
    border-color: #285f38;
    
}
.banner
{  
     /* margin: 0 8% 2%; */
    /* margin-bottom:2% ; */
    /* overflow-x: auto; */
}

/* .banner h1{
font-size: 80px;
}

.banner h5{
font-size: 20px;
} */

/* .banner-pics{
    padding: 10%;
} */
.greenbox{
    width: 61%;
}
.col-03
{   
    max-width: 100%;
    max-height: fit-content;
    background: #285f38;
    margin-top: 5vh;
    margin: 5vh .2em 0 0;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
.allgreen{
    /* justify-content: space-between; */
}

.col-04{
    /* position: relative;
    flex: 1 0 auto;
    display: flex; */
    width: 100%;  
    max-height: fit-content;
    background: #285f38;
    margin: 0em 0 2em;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
/* .greens-space{
    margin: 2% 2%;
} */
.row{
    margin-left: 0;
    margin-right: 0;
}



div.col-white{
    /* background-color: white; */
    padding: 0;
    /* margin: 0 2% 0; */
    height: fit-content;
}

div.col-white img{
    /* padding: 30% 30% 30% 12%; */
    /* width: 100%;
    height: 100%; */
    object-fit:fill
}
div.col-white img:hover{
opacity: 1;
background-color: #285f38;
    border: white .7px solid;
    box-shadow: 0 0 5px #285f38,
    0 0 15px #285f38,
    0 0 20px #285f38,
    0 0 100px #285f38;
}
div.col-white .img-hover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

}
div.col-white p{
    margin-top: 2px;
    font-size: 1.0vw;
}
.col-05
{   width: 66.3%;
    max-width: 100%;
    max-height: fit-content;
    background: #285f38;
    margin-top: 5vh;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
.col-content
{
    color: white;
    padding: 2%  3.5%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.col-content-int
{
    color: white;
    padding: 1.5%  3.5% 0% ;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.blur:hover {
    --webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    border: 2px solid rgb(16, 18, 17) ;
 }
 

.col-content .col-sm-6{
    padding: 0% 2% ;
}


.col-content-text
{
    color: white;
    padding: 2.5% 5% 0%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}


.col-content-text2
{
    color: white;
    padding: 0% 5% 2%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}
.col-content-text3
{
    color: white;
    padding: 0% 5.0% 2%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}
.col-content-text4
{
    color: white;
    padding: 2.5% 4% 0%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}
.col-content-text4 h2{
    font-weight: 600;
    font-size: 2.5vw;
    text-align: left;
}
.col-content-text4 h3{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: right;
}
.col-content2
{   
    color: white;
    padding: 0.2%  5%;
    height: fit-content;
    max-width: 100%;
    width: auto;
   
    
    justify-content: space-between;
}

.col-content-text h2{
    font-weight: 600;
    font-size: 3vw;
    text-align: left;
}
.col-content-text div h3{
    font-size: 2.5vw;
    font-weight: 600;
    text-align: right;
}
.col-content-text div h5
{
font-weight: 600;  
font-size: 1.5vw;
text-align: right;
padding-top: 3%;
}
.col-content-text2 p
{
    margin: 0.5%;
    padding: .5rem 0rem;
    font-weight: 400;
    font-size: 1.1vw;

text-align: left;
float: left;
}


.booking-btn {   
   float: right; 
   /* padding: 0 1% 3%; */
}

.booking-btn button{  
    /* height: 30px;
    width: 60px;
    font-size: 5px; */
    /* margin: 6% 0 36%; */
    color: #285f38;
    font-weight: 600;

}
.col-06
{  
     /* position: -webkit-sticky; */
    position: sticky;  
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

    font-weight: 700;
    /* font-size: large; */
    margin: 0 .5em 0;
    max-width: 100%;
    width:36%;
    height: fit-content;
    justify-content: space-between;
    justify-items: center;
    background-color: #e6f1e9;
    margin: 0 0% 0% 3%;
    top: 10px;
    /* left: 100%; */
    
text-align: center;
padding: 2% 4% 4% 4% ;
color: rgb(11, 126, 1);

border: 1px solid rgba(192, 192, 192, 0.595);
}
.col06text{
    font-size: 1.4rem;
}
.col-06-img{
    padding: 0 7%;
}
.con-shadow{}
.col-07
{
    
   
    background: #0a3112;
    margin-top: 5vh;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}

.col-08
{    
    margin-bottom: 30vh;
    /* background: #0a3112; */
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
    

}
.form-control2{
    
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.phone input{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    /* font-size: 20px; */

}

.searchrow .form-control2{
   
    border: 1px #ced4da solid;

}
select{
    /* border-radius: 10px;  */
    cursor: pointer;
}

select.form{
    border: 1px #ced4da solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: #6c757d ;
    
    font-size: 1rem;
}

select.form {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

.btn-form{
    background-color: #285f38;
    border: black;
    color: white;
}

.btn-form:hover{
    background-color: rgb(10, 10, 10);
    border: wheat;
    color: white;
}
.boxes{
    transition: 1s;
    margin:  4% 0;
    /* margin:  8% 0; */
}
.boxes:hover {
    transform:scale(1.05) ;
    z-index: 2;
    
    /* transition: all 0.5s ease-out; */
    /* opacity: 0.9; */
    /* border: 2px solid rgb(7, 7, 7) ; */
   

    /* background-color: green; */

}

.newsletter{
    margin-top: 5vh;
    background-color: #285f38;
    color: white;
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
    
}
.newsletterform{
    align-self: center;
    /* margin: 1%; */
    padding: 1% 
}
.newsletterform input{

        width: 100%;
        border-radius: 40px;
        height: 4rem;
    
}
.newsletterform h3{
   font-size: 2.5vw;
   padding-bottom: 1rem;
   font-weight: 600;
}

.icon-box{
    right: 30%;
    padding: 40px 50px;
    /* position: relative; */
    overflow: hidden;
    background: rgb(216, 216, 215);
    
    /* box-shadow: 5px 20px 29px 0 rgba(30, 30, 30, 0.2); */
    transition: all 0.3s ease-in-out;
    /* border-radius: 10px; */
}
.absolute {
    /* position: absolute; */
    /* bottom: -501%; */
    /* top: 541%;
    left: 15%;
    right: 15%;
    margin: 0 0vh 0; */
}

.p-5{
    background-color: #262626;
}

.footer{
    color: #a5a5a5;
    background-color: #1b1b25;
}

.footer p{
    color: #4a4a4c;
    
}

.btn-success{
    background-color: #285f38;
    margin-top: 2%;
    
    /* animation:up-down 2s ease-in-out infinite normal both; */
}

.btn-success:hover{
    background-color: #285f38;
    border: #285f38;
    box-shadow: 0 0 0px #285f38,
    0 0 15px #285f38,
    0 0 0px #285f38,
    0 0 100px #285f38;
}

.foot-title{
    color: #db7a35;
}

.icon-box .title a{
    color: black;

}

.icon-box .location {
    color: grey;

}

.icon-box .description {
    color: black;
    font-weight: 500;
    /* font-size: ; */

}
.test-head{
    /* margin: 1em 3em 10em; */
    padding: 2%  5% 0%;
    justify-content: space-between;

}
div.col.head1{
    float: left;

}
.test-head div button{
    float: right;
    background-color: black;
    font-weight: 600;
    /* font-size: 1.3em; */

}
.test-head div button:hover{
   
    background-color: #285f38;
    border: #285f38;
    /* font-size: 1.3em; */

}
.head1 h2{
    font-size: 2.5vw;
    font-weight: 700;
}

.testimonials{
    padding: 1% 5% 1%;
}
.customised{
    margin-right: 10vh;

}

.img-fluid{
    box-shadow: 2px 7px 7px 0 rgba(101, 104, 108, 0.2);
}
.img-banner{
    padding: 0% 0% 10% 0%;
}
.img-banner:hover{
    transform:scale(1.05) ;
    transition: all 1s  ease-out ;
    /* opacity: 0.24; */

}
.banner-text{
    padding:1% 0% 0% 0%;
    
}
.banner-text h2{
    font-size: 5vw;
    font-weight: 700;
    /* animation: alternate-reverse; */
}
.banner-text h5{
    font-size: 2vw;
    font-weight: 400;
    color: #a5a5a5;
}

/* animation: up 2s ease-in-out; */

.img-up {
    top: 33%;
    /* bottom: 47%; */
    left: 14%;
    position: absolute;
    padding: 0;
}


.img-down {
    /* top: ; */
    left: 38%;
    right: 0px;
    bottom: 35%;
    position: absolute;
    padding: 0;
}


.img-down2{ 
    top: 54%;
    left: 65%;
    position: absolute;
    padding: 0;
 }
 .hover-up:hover{
    position: relative;
    animation: myfirst 1s ease-in-out alternate;
    animation-direction: alternate-reverse;
    animation-delay: 0s;
 }
    @keyframes myfirst {
       0% {left: 0px; bottom: 0px;}
        100%  {left: 0px; bottom: 50px;}
        
      }
    /* animation:up-down 2s ease-in-out infinite normal both; */




 .col-content .col-sm-6:hover img{
    transform:scale(1.05) ;
    transition: all 1s ease-out;
    opacity: 0.24;
    border: 2px solid rgb(213, 235, 218)
     ;
   
 }

 .col-text{
    width: 100%;
    position: absolute;
    left: 26.0%;
    /* top: 0; */
    bottom: 42%;
    
    opacity: 0;
    
 }
.col-text h2{
    font-size: 2vw;
    font-weight: 600;
}
 .col-text2{
    width: 100%;
    position: absolute;
    left: 30%;
    /* top: 0; */
    bottom: 35%;
    
    opacity: 0;
    
 }
 .col-text2 h2{
    font-size: 2vw;
    font-weight: 600;
    

 }
 .col-text2 h5{
    font-size: 1vw;
    font-weight: 600;

 }
 

 .col-sm-6:hover .col-text{

    opacity: 1;
 }
 .col:hover .col-text2{

    opacity: 1;
 }


 

 .blur:hover img{
    --webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    border: 2px solid rgb(16, 18, 17) ;
 }
 
 .nowrap{
    display: flex;
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
 }
.foot{
    padding-left: 3.8rem;
}
.foot-head{
    font-size: 1.5em;
    
}
 a.text-reset{
    font-size: 1.2em ;
    
 }


.subscribe-btn{
    background-color: black;
    font-weight: 700;
    font-size: 1.8vh;
}
.subscribe-btn:hover{
    background-color: rgb(23, 22, 22);
}
.copyright{
    padding: 1.5rem 1.5rem 1.5rem 5rem;
}


/* 
 mobile css ##################################*/
 @media only screen and (max-width: 1000px) {
* {
    overflow-x: hidden;
}
h1{padding: 1%;}
h2{padding: 2%;}
h3{padding: 1%;}
h4{padding: 1.2%;}
h5{padding: 1%;}
h6{padding: 1%;}
p{padding: 1%;}
 }

 @media only screen and (max-width: 960px) {
    
section{

        margin: 4%;
        padding: 1%;
    }
    .banner
{   margin: 0 0% 2%;
    /* margin-bottom:2% ; */
    /* overflow-x: auto; */
}
    a.navbar-brand img{
        width: 50%;
    }
    .col-04{
        width: fit-content;
    }
    .col-06{
        width: fit-content;
    }
    .img-up {
        top: 10%;
        /* bottom: 47%; */
        left: 0%;
        position: absolute;
        padding: 0;
    }
    
    
    .img-down {
        top: 0 ;
        left: 0%;
        right: 0px;
        /* bottom: 5%; */
        position: absolute;
        padding: 0;
    }
    
    
    .img-down2{ 
        top: 10%;
        left: 0%;
        position: absolute;
        padding: 0;
     }

     .head1 h2{
        font-size: 3.5vw;
        font-weight: 700;
    }
    
    .col-sm-6:hover .col-text{

        opacity: 0;
     }
     .col:hover .col-text2{
    
        opacity: 0;
     }
    
 }

 @media only screen and (max-width: 575px) {
.greenbox{ 
    width: 100%;
}
   .navbar-brand{
    width: 50%;
   }
    .img-banner{
        display: none;
    }
    .banner-text h2{
        font-size: 11vw;
    }
    .banner-text h5{
        font-size: 5vw;
        
    }
    .col-content .col-sm-6{
        padding: 5% 2%;
    }
    .col-content-text2 p {
        margin: 0.5%;
        padding: 0.5em;
        font-weight: 400;
        font-size: 2.1vw;
        text-align: left;
        float: left;
    }
    .newsletterform input{

        width: 100%;
        border-radius: 40px;
        height: 2rem;
    
}
    
}

 @media only screen and (max-width: 494px){
    .navbar-brand {
        width: 60%;
    }
 }



 @media only screen and (max-width: 360px) {
    * {
        /* overflow-x: hidden; */
    }
    /* body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    } */

    a.navbar-brand img{
        width: 70%;
    }

    .img-banner{
        display: none;
    }

    section{

        margin: 4%;
        padding: 1%;
    }
    .col-04{
        width: fit-content;
    }
    
    .newsletterform h3 {
        font-size: 5vw;
        /* padding-bottom: 1vh; */
        
    }
    .col-content{
        
        margin: 1%;
        padding: 6%;
        width: auto;
    }
  
   
    .col-04{
        /* margin: 1%;
        padding: 4%; */
    }
    .col-06{
        margin: 0;
        padding: 6%;
        width: 100%;
       
        
    }
    /* .banner{
        padding: 2%;
    }
    .col{
        padding: 10%;
    }
    .carousel{
        margin: 6%;
    } */
.banner-img {
    /* margin-bottom : 100%; */
}
    


.img-up {
    top: 10%;
    /* bottom: 47%; */
    left: 0%;
    position: absolute;
    padding: 0;
}


.img-down {
    top: 0 ;
    left: 0%;
    right: 0px;
    /* bottom: 5%; */
    position: absolute;
    padding: 0;
}


.img-down2{ 
    top: 10%;
    left: 0%;
    position: absolute;
    padding: 0;
 }


 .col-content-text h2{
    font-weight: 600;
    font-size: 5vw;
    text-align: left;
}
.col-content-text div h3{
    font-size: 4.5vw;
    font-weight: 600;
    text-align: right;
}
.col-content-text div h5
{
font-weight: 600;  
font-size: 2.8vw;
text-align: right;

}
.col-content-text4 h2{
    font-weight: 600;
    font-size: 3vw;
    text-align: left;
}
.col-content-text4 h3{
    font-size: 1.8vw;
    font-weight: 600;
    text-align: right;
    padding: 2%;
}

.col-content-text2 p
{
    margin: 0.5%;
    padding: .5em;
    font-weight: 400;
    font-size: 4.5vw;

text-align: left;
float: left;
}

.navbar-brand{
    width: 50%;
}
.head1 h2{
    font-size: 4.5vw;
    font-weight: 700;
}

}


