
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROPRATER HOME</title>
 <!-- fontawesome -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">  -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">   -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"></script> -->

<!-- owl carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- bootstrap 4.6 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">   
     <link rel="stylesheet" href="{% static 'css/style.css'%}">
  </head>
  <body>
    
   
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<header id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PROPRATER HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'main:projects' %}">projects </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">news</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                blog
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:interior' %}">interior</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">exclusive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">contact us</a>
              </li>
              <button type="button" class="btn btn-dark">POST YOUR PROPERTY</button>

          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

    </header>


<section id="banner">
  <div>
  <div class=""> 
  <div id="owl-banner" class="owl-carousel owl-theme">
    <div>
        <img  src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-banner">
        <div class="carousel-caption d-none d-md-block ">
          <h1>LET US GUIDE YOU HOME</h1>
          <h3>Some representative placeholder content for the first slide.</h3>
          <button class="btn btn-dark text-uppercase">Learn More</button>
        </div>
      </div> 
      <div>
        <img  src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="img-banner">
        <div class="carousel-caption d-none d-md-block ">
          <h1>LET US GUIDE YOU HOME</h1>
          <h3>Some representative placeholder content for the first slide.</h3>
          <button class="btn btn-dark text-uppercase">Learn More</button>
        </div>
      </div> 
        
  </div>
  
    
 
  </div>
  <script>
       
    $(document).ready(function() {
 
  $("#owl-banner").owlCarousel({
 
    lazyLoad:true,
    items:1,
    autoplay: true,
    margin:20,
    smartSpeed: 1500,
    nav:true,
   
    navText : ["<i  class='fa fa-chevron-left owl-left '></i>","<i  class='fa fa-chevron-right owl-right'></i>"],
    
    // dots: true,
    loop : true,
    responsive:{
            0:{
                items:1
            },
            364:{
                items:1
            },
            1000:{
                items:1
            }
        }
     
 

  });
 
});
  
 
    </script>
  </div>
  
  
   
</section>
<!-- <section></section> -->
<section id="search"> 
    <div class="container-clearfix">
      <div id="owl-ads" class="owl-carousel owl-theme">
      <div class="container-fluid">
        <img class="img-fluid search-img"src="https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
      </div>
      <div class="container-fluid">
        <img class="img-fluid search-img"src="https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
      </div>
      </div> 
      <script>
       
        $(document).ready(function() {
     
      $("#owl-ads").owlCarousel({
        // animateOut: 'slideOutDown',
        // animateIn: 'flipInY',
        lazyLoad:true,
        items:1,
        autoplay: true,
        margin:20,
        smartSpeed: 4500,
        // nav:true,
       
        // navText : ["<i  class='fa fa-chevron-left owl-left '></i>","<i  class='fa fa-chevron-right owl-right'></i>"],
        
        dots: true,
        loop : true,
        responsive:{
                0:{
                    items:1
                },
                364:{
                    items:1
                },
                1000:{
                    items:1
                }
            }
         
     
    
      });
     
    });
      
     
        </script>   
    <form>
    <div class="search-bar">
      <div class="option-bar">
      <div class="banner-col">       
        <div class="row">
            <div class="col-sm"><i class="fa fa-shopping-basket" aria-hidden="true"></i><h6>BUY</h6></div>
            <div class="col-sm"><p>|</p></div>
            <div class="col-sm"><i class="fa fa-key" aria-hidden="true"></i><h6>RENT</h6></div>
            <div class="col-sm"><p>|</p></div>
            <div class="col-sm"><i class="fa fa-search-plus" aria-hidden="true"></i><h6>RESELL</h6></div>
            <div class="col-sm"><p>|</p></div>
            <div class="col-sm"><i class="fa fa-home" aria-hidden="true"></i><h6>COMMERCIAL</h6></div>
        </div>
      </div>
        </div>
          <div class="mx-5 d-flex row searchrow">
            <!-- <label for="exampleInputName1" class="form-label">Name</label> -->
            <select  class="form-search1 col-sm" aria-label="Default select Area">
              <option selected>City</option>
              <option value="1">New Delhi</option>
              <option value="2">Agra</option>
              <option value="3">Noida</option>
            </select> 
            <input type="text"  class="form-control2 col-sm" id="phone" name="phone" placeholder="Search By Project Builder Location"  required>            
         
      
            <select  class="form-search col-sm " aria-label="Default select Area">
              <option selected>Budget</option>
              <option value="1">New Delhi</option>
              <option value="2">Agra</option>
              <option value="3">Noida</option>
            </select>  
            <select  class="form-search2 col-sm" aria-label="Default select Area">
              <option selected>Property Type</option>
              <option value="1">New Delhi</option>
              <option value="2">Agra</option>
              <option value="3">Noida</option>
            </select> 
            
          </div> 
          <button type="submit" class="btn btn-form text-uppercase" >Search</button>        
    </div>
        </form>
      </div>
</section>


<section id="featured">
<div class="container-clearfix">

    <div class="container-fluid space property">
      <div class="row">
      <div class="col-property col-sm-6" >
        <div><h3 class="font-weight-bold text-uppercase"> FEATURED PROPERTIES</h3>
           <h6>These Are The Projects Which Are Exceptionally</h6></div>
          </div>
       
       <div class="col-sm-6 col-property2"><button type="submit" class="btn btn-dark font-weight-bold"><h6>VIEW ALL</h6></button>
       </div>
        
       
      </div>
    </div>  
        <div class="row">
          <div id="owl-featured" class="owl-carousel owl-theme">
                <div class="col-featured " ><h2></h2> 
                <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="img-fluid featured-prop">
                <div class="col-text-prop"><div class="row">
                  <div class="col-sm-12"><h2 class="font-weight-bold text-uppercase">Bhutani Cyberpod</h2>
                    <h4>Sector 160A,Noida</h4>
                  <h4>23.5 Lac</h4></div>
                  <div class="col-sm-6"><button type="submit" class="btn btn-dark text-uppercase" >shortlist</button></div>
                  <div class="col-sm-6"><button type="submit" class="btn btn-featured text-uppercase" >DETAILS</button></div>
                </div></div>
                </div>
                <div class="col-featured" ><h2></h2> 
                <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="img-fluid featured-prop">
                <div class="col-text-prop"><div class="row">
                  <div class="col-sm-12"><h2 class="font-weight-bold text-uppercase">Bhutani Cyberpod</h2>
                    <h4>Sector 160A,Noida</h4>
                  <h4>23.5 Lac</h4></div>
                    <div class="col-sm-6"><button type="submit" class="btn btn-dark text-uppercase" >shortlist</button></div>
                    <div class="col-sm-6"><button type="submit" class="btn btn-featured text-uppercase" >DETAILS</button></div>
                </div></div>
                </div>
                <div class="col-featured" ><h2></h2> 
                <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="img-fluid featured-prop">
                <div class="col-text-prop"><div class="row">
                  <div class="col-sm-12"><h2 class="font-weight-bold text-uppercase">Bhutani Cyberpod</h2>
                  <h4>Sector 160A,Noida</h4>
                  <h4>23.5 Lac</h4></div>
                  <div class="col-sm-6"><button type="submit" class="btn btn-dark text-uppercase" >shortlist</button></div>
                  <div class="col-sm-6"><button type="submit" class="btn btn-featured text-uppercase" >DETAILS</button></div>
                </div></div>
                </div>
                <div class="col-featured" ><h2></h2> 
                <img src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="" class="img-fluid featured-prop">
                <div class="col-text-prop"><div class="row">
                  <div class="col-sm-12"><h2 class="font-weight-bold text-uppercase">Bhutani Cyberpod</h2>
                    <h4>Sector 160A,Noida</h4>
                  <h4>23.5 Lac</h4></div>
                    <div class="col-sm-6"><button type="submit" class="btn btn-dark text-uppercase" >shortlist</button></div>
                    <div class="col-sm-6"><button type="submit" class="btn btn-featured text-uppercase" >DETAILS</button></div>
                </div></div>
                </div>
           
              </div>    
        </div>
        <script>
       
          $(document).ready(function() {
       
        $("#owl-featured").owlCarousel({
       
          lazyLoad:true,
          items:3,
          autoplay: true,
          margin:20,
          stagePadding:80,
          smartSpeed: 1500,
          // nav:true,
          // navText : ["<i  class='fa fa-chevron-left '></i>","<i  class='fa fa-chevron-right '></i>"],
    
          dots: false,
          loop : true,
          responsive:{
                  0:{
                      items:1
                  },
                  600:{
                      items:1
                  },
                  1000:{
                      items:3
                  }
              }
           
       
  
        });
       
      });
        
       
          </script>
</div>


</section>



<section style="margin: 2.1em;" id="trending">
  <div class="container-fluid">
    
    
        <div class="row">
          <div class="col">
           
          </div>
           <!-- <div class="col"><button type="submit" class="btn btn-dark font-weight-bold">VIEW ALL</button> </div> -->
        </div>

        
        <div class="container-fluid property">
          <div class="row">
          <div class="col-property col-sm-6" >
            <div><h3 class="font-weight-bold text-uppercase"> Trending Projects</h3>
               <h6>These Are The Projects Which Are Exceptionally</h6></div>
              </div>
           
           <div class="col-sm-6 col-property2"><button type="submit" class="btn btn-dark font-weight-bold"><h6>VIEW ALL</h6></button>
           </div>
            
           
          </div>
        </div> 
        <div class="row">
        <div id="owl-trend" class="owl-carousel owl-theme">
        <div class="trendcol boxes col" data-aos="fade-up"><img  class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box2"><div class="icon"><i class="bx bxl-dribbble"></i></div>
        <div class="title">M2k VICTORIA GARDEN</div>
        <div class="vendor">By <a href="">M2K INDIA</a> </div>
        <p class="description">Faridabad India,  3,4,5,BHK Penthouse</p>
        <div class="price-range">2.4CR-11.31CR</div></div><button type="submit" class="btn btn-trend text-uppercase" >SEE DETAILS</button>  </div>  
        <div class="trendcol boxes  col" data-aos="fade-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box2"><div class="icon"><i class="bx bxl-dribbble"></i></div>
        <div class="title">M2k VICTORIA GARDEN</div>
        <div class="vendor">By <a href="">M2K INDIA</a></div>
        <p class="description">Faridabad India,  3,4,5,BHK Penthouse</p>
        <div class="price-range">2.4CR-11.31CR</div></div><button type="submit" class="btn btn-trend text-uppercase" >SEE DETAILS</button>  </div>
        <div class="trendcol boxes col" data-aos="fade-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box2"><div class="icon"><i class="bx bxl-dribbble"></i></div>
        <div class="title">M2k VICTORIA GARDEN</div>
        <div class="vendor">By <a href="">M2K INDIA</a></div>
        <p class="description">Faridabad India,  3,4,5,BHK Penthouse</p>
        <div class="price-range">2.4CR-11.31CR</div></div><button type="submit" class="btn btn-trend text-uppercase" >SEE DETAILS</button>  </div>
        
      </div>
        
        </div>
        <div class="d-flex justify-content-center">
          <div class="trending-btn" > <button type="button" class="btn btn-light text-uppercase">SEE MORE</button>
          </div>
        <script>
       
            $(document).ready(function() {
         
          $("#owl-trend").owlCarousel({
         
            lazyLoad:true,
            items:4,
            autoplay: true,
            margin:20,
            smartSpeed: 1500,
            nav:true,
            navText : ["<i class='fa fa-chevron-left owl-left'></i>","<i class='fa fa-chevron-right owl-right'></i>"],
            
            dots: true,
            loop : true,
            responsiveClass:true,
            responsive:{
                    0:{
                        items:1,
                        
                    },
                    600:{
                        items:3,
                        
                    },
                    1000:{
                        items:4
                    }
                }
             
         
    
          });
         
        });
          
         
            </script>
  </div>
</section>    



<section id="news">
    <div class="container-clearfix">
    
      
        <div class="col-news">

          <div class="col-news-1">
            <h2>  NEWS & ARTICLE
          </h2>
          <h5>
           SEE ALL PRESS 
            <i class="fa fa-arrow-right"></i>
          </h5>
          </div>
         
          <div class="col-news-2">

    <div id="interior-news" class="owl-carousel owl-theme">
            <div class="col ">
              
              <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
    
          
              <div class="description"><h3>  Internet tend to repeat predefined chunks as necessary, mak</h3></div>
              </div>
          <div class="col ">
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
            <div class="description"><h3>  Internet tend to repeat predefined chunks as necessary, mak</h3></div>
          </div>
         
          <div class="col ">
              
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
            <div class="description"><h3>  Internet tend to repeat predefined chunks as necessary, mak</h3></div>
          </div>
          
        
        <div class="col ">
          <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
          <div class="description"><h3>  Internet tend to repeat predefined chunks as necessary, mak</h3></div>
        </div>
        
        <div class="col ">
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
            <div class="description"><h3>  Internet tend to repeat predefined chunks as necessary, mak</h3></div>
          </div>
          
        
      </div>
      <script>
       
        $(document).ready(function() {
     
      $("#interior-news").owlCarousel({
     
        lazyLoad:true,
        items:4,
        autoplay: true,
        // margin:20,
        smartSpeed: 1500,
        nav:false,
        dots: false,
        loop : true,
        responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:4
                    }
                }
         
     

      });
     
    });
      
     
        </script>
          </div>
         <!-- <div class="d-flex justify-content-center">
          <div class="booking-btn" > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
          </div> -->
        </div>
          
       
        </div>
     
       </div> 
    </div>
</section>



<section id="design&interiors">
    <div class="container-clearfix">
    
      
        <div class="col-interior">

          <div class="col-content">
            <h2>  INTERIOR & DESIGN
          </h2>
          <h5>
           
          </h5>
          <div><i class="fa fa-arrow-left"></i>
            <i class="fa fa-arrow-right"></i></div>
          
          </div>
         
          <div class="col-content">

    <div id="interior-home" class="owl-carousel owl-theme">
            <div class="col ">
              
              <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
    
            
          </div>
          <div class="col ">
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
   
          </div>
          <div class="col ">
              
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
  
          
        </div>
        <div class="col ">
          <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
 
        </div>
        <div class="col ">
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
   
          </div>
        
      </div>
      <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
       
        $(document).ready(function() {
     
      $("#interior-home").owlCarousel({
     
        lazyLoad:true,
        items:5,
        autoplay: true,
        // margin:20,
        smartSpeed: 1500,
        nav:true,
        dots: true,
        loop : true,
        responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:5
                    }
                }
         
     

      });
     
    });
      
     
        </script>
          </div>
         <!-- <div class="d-flex justify-content-center">
          <div class="booking-btn" > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
          </div>
        </div> -->
          
       
        </div>
     
       </div> 
    </div>
</section>

<section id="footer">
<div class="container text-center "><h1 class="font-weight-bold">NEED ASSISTANCE TO BUY <br> OR SELL YOUR PROPERTY? <br>
    CALL US 78386402
</h1></div>
    <footer class="footer text-lg-start ">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-5 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>PROPRATER
                </h6>
                <h6>
                 2307 Beverley Rd, New Yark
                 + (0712) 819 79 555
                 office@finance.com
                </h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  COMPANY
                </h6>
                <p>
                  <a href="#!" class="text-reset">Careers</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">About Us</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Form partners</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Terms</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Privacy Policy</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contact Us</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Unsubscribe</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  PARTNER SITES 
                </h6>
                <p>
                  <a href="#!" class="text-reset">Proptiger</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Makaan</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">IREF</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">realestate.com.au</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">realtor.com</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">99.co</a>
                </p>
              </div>
              <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  EXPLORE
                </h6>
                <p>
                  <a href="#!" class="text-reset">News</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Home Loans</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Sitemap</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">International</a>
                </p>
              </div>
              <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Follow 
                </h6>
                <p>
                  <a href="#!" class="text-reset">Facebook</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Instagram</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Twitter</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Linkedin</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Pinterest</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Youtube</a>
                </p>
              </div>
              <!-- Grid column -->
      
            
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-left p-4 foot-title ">
         
          <a class="text-reset fw-bold" href="">&#169 2012-2022 Proprater</a>
        </div>
        <!-- Copyright -->
      </footer>
</section>
  