{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROPRATER INTERIOR</title>
   <!-- fonts  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800;900&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="">
<!-- owl carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">  
      <link rel="stylesheet" href="{% static 'css/interior.css'%}">
  </head>
  <body>
    
   
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<header id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="img-responsive" src="{% static 'img/logo/Interior logo.png'%}" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">HOME </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DESIGN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">services</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                SERVICES
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">MORE</a>
              </li>
              <li>
              <button type="button" class="btn btn-danger">BOOK A FREE CONSULTATION</button>
              </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>

    </header>



<section id="intro">
      <div class="container-clearfix banner" >
        <div class="row" >
            <div class="col-md col-sm banner-text" 
            
            >
              <h1> STYLISH.
                <br>EFFICIENT.
                <br>AFFORDABLE.
                        </h1>
                            <h5>
                    Your home interior story from concept to completion.
                  </h5>
                  <button type="button" class="btn btn-success">LEARN MORE</button></div>
                  <div class="col-md col-sm banner-img">
                  <div class="row">
                  <div class="col-sm img-down"><img style="border-radius: 20px; box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);"class="img" width="300" height="300"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                  </div>
                  <div class="col-sm img-up"><img  style="border-radius: 20px; box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);" class="img" width="300" height="300" src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                  </div>
                  <div class="col-sm img-down2"> <img style="border-radius: 20px; box-shadow: 5px 10px 29px 0 rgb(68 88 144 / 20%);" class="img" width="200" height="200"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                  </div> 
                  </div>
                  </div>
          
        
        
        </div>
            </div>

           
          
</section>       



<section id="greens">
    <div class="container-clearfix">
        <div class="row justify-content-between">
          <div class="col-04">
            <div class="row col-content">
              <h2>  MODULAR <br>
                    SOLUTIONS
            </h2>
            <h5>
              STARTING FROM <br>
              $99,000*
            </h5>
            </div>
            
            <div class="row" >
           
            <!-- <div class="col mx-1">
              <img   src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                </div> -->
            </div>
            
            <div class="row col-content">
              
              <div class="col col-sm-6 ">
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                <h3 class="col-text">WARDROBE</h3>
              
            <p> For Amazing Discount/offers on <br>
            Home Interiors & Furnitures</p></div>
            <div class="col col-sm-6 ">
              <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
              <h3 class="col-text">WARDROBE</h3>
              <div class="booking-btn" > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
              </div>
            </div>
          
            </div>
         
          </div>
          <div class="col-06">
            
            <div class="col06text">
              Get a call Back From <br>
              our Design Expert
              
            </div>
            <div class="col my-4 ">
              <img class="img" height="100" width="100"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
     
            </div>
              <form>
    
                <div class="mb-3">
                  <!-- <label for="exampleInputName1" class="form-label">Name</label> -->
                  <input type="text" placeholder="Name" class="form-control" id="exampleInputName1">
                </div>
                <div class="mb-3">
                  
                  <input type="email"  placeholder="Email ID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3 d-flex">
                  
                  <select  class="form" aria-label="Default select Code">
                    <option selected>+91</option>
                    <option value="1">+01</option>
                    <option value="2">+02</option>
                    <option value="3">+03</option>
                  </select>
                  <input type="tel"  class="form-control" id="phone" name="phone" placeholder="Phone Number" pattern="[0-9]{10}" required>            </div>
                <div class="mb-3">
            
                  <select  class="form-control mr-auto" aria-label="Default select Area">
                    <option selected>Select Property City</option>
                    <option value="1">New Delhi</option>
                    <option value="2">Agra</option>
                    <option value="3">Noida</option>
                  </select>            </div>
                <button type="submit" class="btn btn-form" style="width: 100%;">BOOK CONSULTATION</button>
              </form>
          </div>
         
          <script>


            // var stickyEl = document.querySelector('.')
            var stickyEl2 = document.querySelector('.col-06')
            var stickyEl22 = document.querySelector('.col-06')
            // var stickyPosition = stickyEl.getBoundingClientRect().top;
            var stickyPosition2 = stickyEl2.getBoundingClientRect().top;
            var stickyPosition22 = stickyEl22.getBoundingClientRect().bottom;
            var offset = -20
            window.addEventListener('scroll', () => {
                // if (window.pageYOffset >= stickyPosition + offset) {
                //     stickyEl.style.position = 'fixed';
                //     stickyEl.style.top = '0';
                //     stickyEl.style.zIndex = '100';
                //     // stickyEl.style.left = '76.2%';
                // }
                if ( window.pageYOffset >= stickyPosition2 + offset) {
                    stickyEl2.style.position = 'fixed';
                    stickyEl2.style.top = '0';
                    stickyEl2.style.left = '72.5%';
                    stickyEl2.style.zIndex = '100';
               
                if (screen.width <= 320 || screen.width <= 540 || screen.width <= 960 ){
                  stickyEl2.style.left = '0';
                  stickyEl2.style.position = 'static';
                  stickyEl2.style.width = '100%'
                } 
                // if ( window.pageYOffset >= stickyPosition22 + offset) {
                //     stickyEl22.style.position = 'static ';
                //     // stickyEl2.style.bottom = '300%';
                //     stickyEl22.style.left = '72.5%';
                //     stickyEl22.style.zIndex = '100';}   
                    
                } else {
                    // stickyEl.style.position = 'static';
                    // stickyEl.style.top = '0';
                    stickyEl2.style.position = 'static';
                    stickyEl2.style.top = '0';
                }
            });</script>
        
         </div>
         
        <div class="row">
          
          <div class="col-04">
            <div class="row col-content">
              <h2>  MODULAR <br>
                    SOLUTIONS
            </h2>
            <h5>
              STARTING FROM <br>
              $99,000*
            </h5>
            </div>
            <div class="row col-content">
       
              <div class="col col-sm-6 ">
                
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                <h3 class="col-text2">WARDROBE</h3>
              
            </div>
            <div class="col col-sm-6 ">
              <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
              <h3 class="col-text2">WARDROBE</h3>
            </div>
           
            </div>
           <div class="row col-content">
            
              <div class="col col-sm-6 ">
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                <h3 class="col-text">WARDROBE</h3>
              
            <p> For Amazing Discount/offers on <br>
            Home Interiors & Furnitures</p></div>
            <div class="col col-sm-6 ">
              <h3 class="col-text">WARDROBE</h3>
              <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
              <div class="booking-btn" > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
              </div>
            </div>
          
            </div>
         
          </div>
        </div>
         
           <div class="row"> 
            <div class="col-05">
    
              <div class="row col-content">
                <h2>  CUSTOMIZED <br>
                      SERVICES
              </h2>
              <h5>
                SELECT THE SERVICES YOU  <br>
                WILL LIKE TO HAVE
              </h5>
              </div>
              <div class="row col-content">
       
                <div class="col-sm">
                  
                  <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
        
                
              </div>
              <div class=" col-sm">
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
       
              </div>
              <div class=" col-sm">
                  
                <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
      
              
            </div>
            <div class=" col-sm">
              <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
     
            </div>
            <div class=" col-sm">
              <img class="img-fluid"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
     
            </div>
           
              </div>
             <div class="booking-btn float-right customised " > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
             </div>
              </div>
           
            </div> 
        </div>
</section>   



<section id="carousel1">
    <div class="container-clearfix">
    
      
        <div class="col-07">

          <div class="row col-content">
            <h2>  INTERIOR & DESIGN
          </h2>
          <h5>
            STARTING FROM <br>
            $99,000*
          </h5>
          </div>
         
          <div class="row col-content">

    <div id="owl" class="owl-carousel owl-theme">
            <div class="col ">
              
              <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
    
            
          </div>
          <div class="col ">
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
   
          </div>
          <div class="col ">
              
            <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
  
          
        </div>
        <div class="col ">
          <img class="img-fluid blur"  src="https://images.unsplash.com/photo-1616047006789-b7af5afb8c20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
 
        </div>
        
      </div>
      <script>
       
        $(document).ready(function() {
     
      $("#owl").owlCarousel({
     
        lazyLoad:true,
        items:4,
        autoplay: true,
        // margin:20,
        smartSpeed: 1500,
        nav:false,
        dots: false,
        loop : true,
        responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:4
                    }
                }
         
     

      });
     
    });
      
     
        </script>
          </div>
         <div class="d-flex justify-content-center">
          <div class="booking-btn" > <button type="button" class="btn btn-light">BOOK CONSULATATION</button>
          </div>
        </div>
          
       
        </div>
     
       </div> 
    </div>
</section>



<section id="testimonials">
    <!-- <div class="carousel">
        <div class="row">
          <div class="col col-sm-6">
           <div class="row col-content2 col-sm-6">
            <h2>CUSTOMER TESTIMONILAS</h2>
            <button type="submit" class="btn btn-dark font-weight-bold"><h6>VIEW ALL</h6></button>
           </div>
          </div>
        </div>

        </div> -->
        
        <!-- <div class="row  absolute">
        <div id="owl2" class="owl-carousel owl-theme">
        <div class="boxes col" data-aos="fade-up"><img  class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box"><div class="icon"><i class="bx bxl-dribbble"></i></div><h4 class="title"><a href="">Lorem Ipsum</a></h4><p class="description">atque  occaecati cupiditate non providentcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p></div></div>  
        <div class="boxes  col" data-aos="fade-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box"><div class="icon"><i class="bx bxl-dribbble"></i></div><h4 class="title"><a href="">Lorem Ipsum</a></h4><p class="description">atque  occaecati cupiditate non providentcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p></div></div>
        <div class="boxes col" data-aos="fade-up"><img class="img-fluid" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80" alt="" srcset=""><div class="icon-box"><div class="icon"><i class="bx bxl-dribbble"></i></div><h4 class="title"><a href="">Lorem Ipsum</a></h4><p class="description">atque corrupti quos dolores et quas molestias excepturi sint o occaecati cupiditate non providentccaedent</p></div></div>
        </div>
        </div> -->
        <script>
       
            $(document).ready(function() {
         
          $("#owl2").owlCarousel({
         
            lazyLoad:true,
            items:3,
            autoplay: true,
            // margin:20,
            smartSpeed: 1500,
            nav:false,
            dots: false,
            loop : true,
            responsive:{
                    0:{
                        items:1
                    },
                    364:{
                        items:1
                    },
                    1000:{
                        items:3
                    }
                }
             
         
    
          });
         
        });
          
         
            </script>

        <div class="container-clearfix  newsletter ">
          <div class="row">
          <img class="img-fluid" src="https://images.unsplash.com/photo-1616486701797-0f33f61038ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="" srcset="">
          <form class="newsletterform mx-5 my-5 col-sm-6 ">
            <div class="form-group">
              <h3 class="font-weight-bold">SUBSCRIBE NOW FOR LATEST UPDATES.</h3>
             
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
              
            </div>
           
           
            <button type="submit" class="btn btn-dark font-weight-bold">SUBMIT</button>


            
          </form>
          
        </div>
        </div>
</section>


<section id="footer">

    <footer class="footer text-lg-start ">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-5 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="">
          <div class="container-clearfix text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>PROPRATER
                </h6>
                <h6>
                 2307 Beverley Rd, New Yark
                 + (0712) 819 79 555
                 office@finance.com
                </h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  COMPANY
                </h6>
                <p>
                  <a href="#!" class="text-reset">Careers</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">About Us</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Form partners</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Terms</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Privacy Policy</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contact Us</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Unsubscribe</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  PARTNER SITES 
                </h6>
                <p>
                  <a href="#!" class="text-reset">Proptiger</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Makaan</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">IREF</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">realestate.com.au</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">realtor.com</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">99.co</a>
                </p>
              </div>
              <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  EXPLORE
                </h6>
                <p>
                  <a href="#!" class="text-reset">News</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Home Loans</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Sitemap</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">International</a>
                </p>
              </div>
              <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Follow 
                </h6>
                <p>
                  <a href="#!" class="text-reset">Facebook</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Instagram</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Twitter</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Linkedin</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Pinterest</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Youtube</a>
                </p>
              </div>
              <!-- Grid column -->
      
            
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-left p-4 foot-title ">
         
          <a class="text-reset fw-bold" href="">&#169 2012-2022 Proprater</a>
        </div>
        <!-- Copyright -->
      </footer>
</section>
  